/*
Theme Name:     Marketify Child
Theme URI:      http://astoundify.com/themes/marketify
Template:       marketify
Version:        1.0
*/
#wp_lostpassword_submit {
    background-color: #1ea09a;
    border-color: #1ea09a;
    color: #fff;
    FONT-WEIGHT: BOLD;
    width: 100%;
}